@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

body{
    background-color: #060606;
    font-family: 'Forum',serif;
}

.header-bg{
 backdrop-filter:blur(10px);
}
.hero_carousel{
    width:100%;
    height:650px;
}
.hero_carousel img.active {
    animation: scaleUp 5s ease-in-out infinite alternate;
  }
  
  .contact-Form{
    position:"absolute";
    top:20px;
  }
.story-img{
  height: 500px;
}

@keyframes scaleUp {
    0% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(2);
    }
  }

  @media only screen and (max-width: 600px) {
    .story-img{
      height: 200px;
    }
  }
  



 